.orderTop {
  &__cx {
    display: flex;
    align-items: center;
    gap: 32px;
    @include tab {
      flex-direction: column;
      align-items: center;
    }
    &-name,
    &-table {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &-name {
      &-input {
        width: 220px;
      }
    }
    &-table {
      &-input {
        width: 100px;
      }
    }
    &-button {
      width: 80px;
    }
  }
  &__menu {
    @include flex;
    gap: 14px 0;
    @include tab {
      gap: 22px 0;
    }
    &::before,
    &::after {
      content: "";
      width: 24%;
      @include tab {
        width: 48%;
      }
      @include sp {
        width: 100%;
      }
    }
    &::before {
      order: 1;
    }
    li {
      width: 24%;
      @include tab {
        width: 48%;
      }
      @include sp {
        width: 100%;
      }
      a {
        @include flex-center;
        height: 160px;
        font-size: 20px;
        text-align: center;
        line-height: 1.4;
        background: rgba($color: #fff, $alpha: 0.2);
        border-radius: 8px;
        @include tab {
          flex-direction: column;
        }
      }
    }
  }
}
